<li>
	{{burgerName}}

	<button class="btn btn-dark change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Me!!!{{else}}SPIT ME OUT!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
